body {
    font-family:'Times New Roman', Times, serif;
    background:whitesmoke;
}

.title {
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    color:rgb(1, 116, 88);
}

.calculator {
    width: 260px;
    background:whitesmoke;
    margin: 40px auto;
    padding: 20px;
    /*border-radius: 9px;*/
    box-shadow: 0 0 10px #a5a5a5;
}

.display {
    height: 50px;
    background:whitesmoke;
    /*border-radius: 9px;*/
    margin-bottom: 20px;
    /*border: 1px solid #ddd;*/
    box-shadow: 0 0 10px #b4b3b3;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 9px;
    box-shadow: 0 0 10px #bcbbbb;
}

button {
    height: 45px;
    border: none;
    border-radius: 9px;
    background:whitesmoke;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 0 10px #a5a5a5;
}

button.op {
    background: #212529;
    color: white;
    box-shadow: 0 0 10px #a5a5a5;
}

button.clear {
    background: red;
    color: white;
    box-shadow: 0 0 10px #a5a5a5;
}